.flexbox {
  display: flex;

  &.fd-row {
    flex-direction: row;
  }

  &.fd-column {
    flex-direction: column;
  }

  &.jc-space-between {
    justify-content: space-between;
  }

  &.jc-space-around {
    justify-content: space-around;
  }

  &.jc-flex-start {
    justify-content: flex-start;
  }

  &.jc-center {
    justify-content: center;
  }

  &.ai-center {
    align-items: center;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.text-small {
  font-size: 10px;
}

.text-medium {
  font-size:  18px;
}

.text-large {
  font-size: 24px;
}

.padding-bottom-sm {
  padding-bottom-sm: $spacing-sm;
}

.padding-bottom-md {
  padding-bottom: $spacing-md;
}

.padding-bottom-lg {
  padding-bottom: $spacing-lg;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.transparent {
  background: transparent;
}