.page
  .page__content
    .portfolio.flexbox.fd-column
      .flexbox.fd-row.jc-space-around.padding-bottom-sm
        .text-center
          .portfolio__gif
            %a{ :href => "/" }
              .port-animation-root
                .flexbox.fd-column.jc-center.ai-center.height-100.text-large.transparent
                  %span
                    adamzucker.io
                .port-animation-container
                  #adamzucker-example-container
      .text-center
        .portfolio__gif
          %a{ :href => "https://github.com/midma101/adamzucker-io", :target => '_blank' }
            -# =image_tag("gif/adamzucker_io_code.gif")
            %span
              >>>checkout the code<<<
      .text-center.padding-vertical-md
        ="// // //"
      .flexbox.fd-row.jc-space-around.padding-bottom-sm
        .text-center
          .portfolio__gif#shorty-example-container
            %a
              =image_tag("gif/shorty_ex.gif")
      .text-center
        .portfolio__gif
          %a{ :href => "https://github.com/midma101/shorty", :target => '_blank' }
            %span
              >>>checkout the code<<<

:javascript
  const shortyExampleContainer = document.getElementById('shorty-example-container');
  shortyExampleContainer.onclick = () => {
    shortyExampleContainer.style.animation = 'spin 3s ease-in-out';
    setTimeout(() => shortyExampleContainer.style.animation =  '', 3100);
  };

:javascript
  const exampleContainer = document.getElementById('adamzucker-example-container');
  var exampleEmojis = ['ðŸŒ½', 'ðŸ‡', 'ðŸŒ', 'ðŸ’', 'ðŸ•', 'ðŸ·', 'ðŸ­', 'ðŸ’–', 'ðŸ’©', 'ðŸ·', 'ðŸ¸', 'ðŸ³', 'ðŸŽƒ', 'ðŸŽ¾', 'ðŸŒˆ', 'ðŸ¦', 'ðŸ’', 'ðŸ”¥', 'ðŸ˜', 'ðŸ˜±', 'ðŸŒ´', 'ðŸ‘', 'ðŸ’ƒ']
  var exampleObjects = [];

  const getRandomEmoji = () => exampleEmojis[Math.floor((Math.random() * exampleEmojis.length))];

  for (var i = 0; i < 15; i++) {
    addExampleObject(i * 150, [10, 300], getRandomEmoji());
    addExampleObject(i * 150, [10, -300], getRandomEmoji());
    addExampleObject(i * 150, [10 - 200, -300], getRandomEmoji());
    addExampleObject(i * 150, [10 + 200, 300], getRandomEmoji());
    addExampleObject(i * 150, [10 - 400, -300], getRandomEmoji());
    addExampleObject(i * 150, [10 + 400, 300], getRandomEmoji());
    addExampleObject(i * 150, [10 - 600, -300], getRandomEmoji());
    addExampleObject(i * 150, [10 + 600, 300], getRandomEmoji());
  }

  function addExampleObject(delay, range, color) {
    setTimeout(function() {
      var c = new ExampleObject(range[0] + Math.random() * range[1], 80 + Math.random() * 4, color, {
        x: -0.15 + Math.random() * 0.3,
        y: 1 + Math.random() * 1
      }, range);
      exampleObjects.push(c);
    }, delay);
  }
  function ExampleObject(x, y, c, v, range) {
    var _this = this;
    this.x = x;
    this.y = y;
    this.color = c;
    this.v = v;
    this.range = range;
    this.element = document.createElement('span');
    /*this.element.style.display = 'block';*/
    this.element.style.opacity = 0;
    this.element.style.position = 'absolute';
    this.element.style.fontSize = '26px';
    this.element.style.color = 'hsl('+(Math.random()*360|0)+',80%,50%)';
    this.element.innerHTML = c;
    exampleContainer.appendChild(this.element);

    this.updateExampleObject = function() {
      if (_this.y > 800) {
        _this.y = 80 + Math.random() * 4;
        _this.x = _this.range[0] + Math.random() * _this.range[1];
      }
      _this.y += _this.v.y;
      _this.x += _this.v.x;
      this.element.style.opacity = 1;
      this.element.style.transform = 'translate3d(' + _this.x + 'px, ' + _this.y + 'px, 0px)';
      this.element.style.webkitTransform = 'translate3d(' + _this.x + 'px, ' + _this.y + 'px, 0px)';
      this.element.style.mozTransform = 'translate3d(' + _this.x + 'px, ' + _this.y + 'px, 0px)';
    };
  }

  function animateExample() {
    for (var i in exampleObjects) {
      exampleObjects[i].updateExampleObject();
    }
    requestAnimationFrame(animateExample);
  }

  animateExample();
