.page
  .page__content.flex-row.jc-space-around
    %div
      Personal Website/Development Sandbox
    %div
      =link_to "https://github.com/midma101/adamzucker-io", "https://github.com/midma101/adamzucker-io"