.page
  .page__content
    %div
      Full Stack Engineer with 7+ years experience. Committed to clean code, best
      testing practices, and leading by example. Most recently been developing on a
      Rails/React stack, but comfortable working with many other languages and frameworks
      including but not limited to Python (Django/Flask), Node, and Angular.