.animation-root {
  height: 100%;
  overflow: hidden;
  position: fixed;
  transform: rotate(180deg);
  width: 10%;

  &.right {
    right: 0;
  }
}

.animation-container {
  left: 0px;
  top: -100px;
  height: calc(100vh + 300px);
  overflow: hidden;
  position: relative;
}

.gutter-animation {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}

.port-animation-root {
  border: 1px solid white;
  overflow: hidden;
  height: 160px;
  max-width: 320px;
  min-width: 240px;
}

.port-animation-container {
  top: -255px;
  height: 100%;
  position: relative;
}
