.navbar-container {
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    width: 60%;

    .navbar-item {
        color: $secondary-color;
    }

    .navbar-item:first-child {
        align-self: flex-start;
    }
}