$card-border-radius: 3px;

.page {
  .page__content {
    color: $text-active-color;
    padding-top: $navbar-height;

    .headshot img {
      max-height: 210px;
    }
  }
}

.resume {
  margin: $spacing-md 0;

  .resume__work-container {
    font-family: $font-family-heading;
    font-weight: 700;
    margin-top: $spacing-xl;

    @media(max-width: $screen-size-sm) {
      width: 80%;
    }
  }

  .resume__bio-info {
    font-family: $font-family-heading;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: $spacing-md;
    padding-right: $spacing-md;
    width: 55%;

    @media(max-width: $screen-size-md) {
      flex-grow: 1;
    }
  }

  .resume__work-info {
    font-family: $font-family-body;
  }

  .resume__job-title {
    font-size: 18px;
    font-weight: $font-weight-heavy;
    min-width: 200px;
  }

  .resume__job-description {
    font-weight: $font-weight-normal;
    min-width: 300px;
    max-width: 700px;
  }
}

.portfolio {
  .portfolio__gif {
    img, .port-animation-root {
      border-radius: $card-border-radius;
      box-shadow: 0 0 3px whitesmoke;
    }

    img {
      max-width: 280px;
    }

    .port-animation-root {
      border: 1px solid white;
      overflow: hidden;
      height: 180px;
      width: 280px;
    }

    .port-animation-container {
      top: -255px;
      height: 100%;
      position: relative;
    }
  }
}

.synth {

  #synth-pad {
    float: left;
    border-radius: 3px;
    background-color: #ffffff;
  }

  #synth-pad:hover {
    cursor: crosshair;
  }

  #info {
    margin-left: 500px;
    padding-left: 2rem;
    padding-top: 1rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .clearfix {
    *zoom: 1;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
  }

  .clearfix:after {
    clear: both;
  }

}