:ruby
  title "Portfolio | Adam Zucker"

.page
  .page__content
    .portfolio.flexbox.fd-column
      - @entries.each do |entry|
        - if entry.example_type == 'animation'
          = render partial: "pages/portfolio/entries/animation", locals: { entry: entry }
        - else
          = render partial: "pages/portfolio/entries/gif", locals: { entry: entry }


:javascript
  const shortyExampleContainer = document.getElementById('shorty-example-container');
  shortyExampleContainer.onclick = () => {
    shortyExampleContainer.style.animation = 'spin 3s ease-in-out';
    setTimeout(() => shortyExampleContainer.style.animation =  '', 3100);
  };

  window.emoji = '⚡';