.flexbox.fd-row.jc-space-around.padding-bottom-sm
  .portfolio__gif.text-center
    %a{ :href => "/" }
      .port-animation-root
        .flexbox.fd-column.jc-center.ai-center.height-100.text-large.transparent
          %span
            adamzucker.io
        .port-animation-container
          #adamzucker-example-container
.text-center
  %a{ :href => "https://github.com/midma101/adamzucker-io", :target => '_blank' }
    %span
      >>>checkout the code<<<