.flexbox.fd-row.jc-space-around.padding-bottom-sm
  .portfolio__gif.text-center
    %a{ :href => entry.project_url }
      .port-animation-root
        .flexbox.fd-column.jc-center.ai-center.height-100.text-large.transparent
          %span
            = entry.name
        .port-animation-container
          %div{ id: entry.animation_name }
.text-center
  %a{ :href => entry.code_url, :target => '_blank' }
    %span
      >>>checkout the code<<<